
.auth-container {
    padding: 3rem;
    position: relative;
    min-height: calc(100vh - 80px);

    .auth-title {
        text-align: center;
        font-size: 3rem;
        font-weight: 500;
        margin-bottom: 3rem;
        color: $pink200;
    }

    .auth-form {
        width: 80%;
        margin: 0 auto;
    }

    .auth-home-link {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        color: $pink200;
        text-decoration: none;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $darkGrey;
            transform: scale(1.05);
        }
    }
}