
.main-navigation {
    height: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: $pink300;
    padding: 0 40px;
    border-bottom: 1px solid $darkGrey;

    .main-navigation-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-navigation-right {
        display: flex;
        align-items: center;
        justify-content: end;
    }

    .main-nav-link {
        font-size: 20px;
        margin: 0 20px;
        text-decoration: none;
        color: $darkGrey;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            cursor: pointer;
            color: $black;
            transform: scale(1.05);
        }
    }

    .main-nav-link-active {
        font-weight: bold;
        color: $black;
    }
}