
.main-navigation {
    height: 80px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 0 40px;

    .main-navigation-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main-navigation-right {
        display: flex;
        align-items: end;
        justify-content: center;
    }

    .main-nav-link {
        font-size: 20px;
        margin: 0 20px;
        text-decoration: none;
    }

    .main-nav-link-active {
        font-weight: bold;
    }
}