
.recipe-detail {
    padding: 2rem 5% 4rem 5%;
    min-height: calc(100vh - 80px);
    position: relative;

    .recipe-detail-header {
        width: 75%;
        display: flex;
        flex-direction: column;
        padding: 2rem 2rem 1rem 2rem;
        margin: 0 auto;
        margin-bottom: 2rem;
        position: relative;
        border-bottom: 1px solid $darkGrey
        ;

        .recipe-detail-title {
            text-align: center;
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            color: $darkGrey;
        }

        .recipe-detail-description {
            text-align: center;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: $darkGrey;
        }

        .recipe-detail-edit-link {
            position: absolute;
            right: 1rem;
            top: 1rem;
            color: $darkGrey;
            text-decoration: none;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $lightGrey;
            }
        }
    }

    .recipe-detail-image-wrapper {
        width: 55%;
        margin: 2rem auto;
    }

    .recipe-detail-header-details {
        width: 75%;
        margin: 0 auto;
        display: flex;
        align-items: baseline;
        justify-content: space-around;

        .recipe-detail-author-wrapper {
            font-size: 1.1em;
            color: grey;

            .recipe-detail-author {
                color: $pink300;
                font-size: 1.2em;
                font-weight: bold;
            }
        }

        .recipe-detail-date-wrapper {
            font-size: 0.9em;
            color: $darkGrey;

            .recipe-detail-date {
                color: $pink200;
                font-size: 1em;
                font-weight: bold;
            }
        }
    }

    .recipe-detail-body {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 2rem;

        .recipe-detail-body-detail-wrapper {
            display: flex;
            align-items: baseline;
            justify-content: space-around;
            padding-bottom: 1rem;
            border-bottom: 1px solid $darkGrey;

            .recipe-detail-body-detail {
                font-size: 1.2em;
                font-weight: 500;
                color: $black;
            }

            .recipe-detail-category {
                color: $pink300;
                font-size: 1.3em;
                font-weight: bold;
                margin-left: 1rem;
            }

            .recipe-detail-time {
                color: $darkGrey;
                font-size: 1.2em;
                font-weight: bold;
                margin-left: 0.5rem;
            }
        }

        .recipe-detail-subtitle {
            width: max-content;
            font-size: 1.3em;
            font-weight: 600;
            color: $black;
            margin-bottom: 1.5rem;
            padding-bottom: 0.5rem;
            padding-right: 2rem;
            border-bottom: 1px solid $black;
        }

        .recipe-detail-steps-container {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;

            .recipe-detail-step {
                font-size: 1.1em;
                margin-bottom: 0.75rem;
                color: $black;
            }
        }

        .recipe-detail-ingredients-container {
            display: flex;
            flex-direction: column;
            padding: 0 1rem;
            border-left: 1px solid $darkGrey;

            .recipe-detail-ingredient-item {
                display: flex;
                align-items: baseline;
                justify-content: space-between;
                margin-bottom: 0.25rem;
                margin-left: 0.5rem;

                .recipe-detail-ingredient {
                    font-size: 1.2em;
                    font-weight: 600;
                    color: $darkGrey;
                }

                .recipe-detail-ingredient-amount {
                    font-size: 1.1em;
                    color: $black;
                }
            }
        }
    }

    .recipe-detail-back-btn {
        position: absolute;
        bottom: 2rem;
        right: 5%;
        text-decoration: none;
        color: $pink300;
        font-size: 1.2em;
        transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;

        &:hover {
            color: $darkGrey;
            transform: scale(1.1);
        }
    }
}